{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Fitness Freaks Bangalore</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-training-studio.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">Fitness<em> Freaks</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    
                    <ul class="nav">
                        <li><a class="nav-link scrollto active" href="/">Home</a></li>
                        
                        <li><a class="nav-link scrollto " href="/services">Services</a></li>
                        <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
                        <li><a class="nav-link scrollto" href="/enroll">Enroll Here</a></li>
                        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                        
                        
                        <li class="main-button"><a href="/signup">Sign Up</a></li>
                            
                        </li>
                        
                    </ul>  
                       
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="static/assets/images/gym-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h4>FIT DOES NOT QUIT</h4>
              
            
            <div class="aboutus">
            <h4>WE ARE FITNESS FREAKS
                Helping people live longer, happier and healthier lives for over past years.
                FitnessFreaks was founded in 2022 specialising in supplying high-quality gym equipment at great prices.Instead of being just another gym equipment retailer, our founders wanted to be the best in the industry and set their minds to doing so! Over the last two decades Gym and Fitness has grown into one of India's largest online fitness equipment retailers, helping thousands of customers live longer, happier and healthier lives.</h4>
        </div>
    </div>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2022 Fitness Freaks
                
                - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">Yashaswini.S</a></p>
                
                
                
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="static/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="static/assets/js/popper.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="static/assets/js/scrollreveal.min.js"></script>
<script src="static/assets/js/waypoints.min.js"></script>
<script src="static/assets/js/jquery.counterup.min.js"></script>
<script src="static/assets/js/imgfix.min.js"></script> 
<script src="static/assets/js/mixitup.js"></script> 
<script src="static/assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="static/assets/js/custom.js"></script>

</body>
</html>
